helloworld.crystallize.app.local {
    push
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets 127.0.0.1:3002
    reverse_proxy 127.0.0.1:3001
}
