:root {
    --dsg-border-color: #e8ebed;
    --dsg-selection-border-color: rgb(69, 128, 230);
    --dsg-selection-border-radius: 2px;
    --dsg-selection-border-width: 2px;
    --dsg-selection-background-color: rgba(69, 128, 230, 0.04);
    --dsg-selection-disabled-border-color: #9da6ab;
    --dsg-selection-disabled-background-color: rgba(0, 0, 0, 0.04);
    --dsg-corner-indicator-width: 10px;
    --dsg-header-text-color: #9095a8;
    --dsg-header-active-text-color: #9095a8;
    --dsg-cell-background-color: #eeeff1;
    --dsg-cell-disabled-background-color: rgb(250, 250, 250);
    --dsg-transition-duration: 0.1s;
    --dsg-expand-rows-indicator-width: 10px;
    --dsg-scroll-shadow-width: 7px;
    --dsg-scroll-shadow-color: rgba(0, 0, 0, 0.2);
}

html,
body {
    background: #fff;
    padding: 20px 50px;
    margin: 0;
}

select {
    padding: 10px;
    background: white;
    color: #4c4f5a;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(130, 138, 144, 0.15));
    margin-top: 2px;
    width: 90%;
    padding-right: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6L12 1' stroke='%234D525B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

.error {
    max-width: 100%;
    overflow: scroll;
    padding: 10px 30px 20px;
    color: #ce1abc;
}

.import-message {
    max-width: 100%;
    padding: 10px 30px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 20px;
}

.app-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #4a4a4a;
    overflow: hidden;
    margin-bottom: 20px;
    background: #eeeff1;
    border: 1px dashed #9095a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.file-chooser-section {
    height: 400px;
}

.app-section-inner {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.app-section h1 {
    font-size: 22px;
    margin-top: 0;
}

.app-section h2 {
    font-size: 14px;
}

.flex {
    display: flex;
}

.flex > div {
    flex-grow: 1;
    flex-shrink: 0;
}

.file-chooser {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 10px;
}

.dsg-container {
    width: 100%;
    border: solid 1px var(--dsg-border-color);
    border-top: none;
    border-left: none;
    cursor: cell;
    user-select: none;
    box-sizing: border-box;
    color: black;
    background: #eeeff1;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.dsg-corner-indicator {
    margin: auto;
    width: 0;
    border-bottom: solid var(--dsg-corner-indicator-width) var(--dsg-header-text-color);
    border-left: solid var(--dsg-corner-indicator-width) transparent;
}

.dsg-row {
    background: var(--dsg-cell-background-color);
    box-shadow: 0 1px var(--dsg-border-color) inset;
    display: flex;
}

.dsg-row-header {
    position: sticky;
    top: 0;
    z-index: 4;
    background: white;
    color: #9095a8;
    font-weight: 700;
    font-size: 12px;
}

.match-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 700;
}

.match-header {
    padding: 30px;
}

.match-header h1 {
    color: #4a4a4a;
    margin-bottom: 30px;
    font-size: 22px;
}

.match-header h2 {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 14px;
}

.dsg-cell {
    color: #4c4f5a;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: var(--dsg-cell-background-color);
    border: solid 1px var(--dsg-border-color);
    border-bottom: none;
    border-right: none;
    box-shadow: 1px 1px var(--dsg-border-color);
    position: relative;
    padding: 10px;
}

.dsg-input {
    color: #4c4f5a;
    background: transparent;
    border: none;
}

.dsg-hidden-cell {
    display: none;
}

.dsg-cell-sticky-right {
    position: sticky;
    right: 0;
    z-index: 3;
}

.dsg-cell-disabled {
    background: var(--dsg-cell-disabled-background-color);
}

.dsg-cell-header,
.dsg-cell-gutter {
    font-size: 12px;
    color: var(--dsg-header-text-color);
    transition: color var(--dsg-transition-duration);
    box-shadow: none;
}

.dsg-cell-header-container {
    font-size: 12px !important;
    padding: 0 10px;
    line-height: 15px;
}

.dsg-cell-header.dsg-cell-gutter {
    box-shadow: 1px 0 var(--dsg-border-color), 0 1px var(--dsg-border-color);
}

.dsg-cell-header.dsg-cell-sticky-right {
    box-shadow: 0 1px var(--dsg-border-color);
}

.dsg-cell-gutter {
    position: sticky;
    left: 0;
    padding: 0 5px;
    justify-content: center;
    z-index: 3;
}

.dsg-cell-header-active,
.dsg-cell-gutter-active {
    color: var(--dsg-header-active-text-color);
}

.dsg-active-cell,
.dsg-selection-rect {
    position: absolute;
    border: solid var(--dsg-selection-border-width) var(--dsg-selection-border-color);
    box-sizing: border-box;
    border-radius: var(--dsg-selection-border-radius);
    transition: all var(--dsg-transition-duration);
    pointer-events: none;
}

.dsg-active-cell-focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dsg-active-cell-disabled,
.dsg-selection-rect-disabled {
    border-color: var(--dsg-selection-disabled-border-color);
}

.dsg-cell-header,
.dsg-cell {
    width: 200px !important;
    flex: none !important;
}

.dsg-cell-header {
    background: #fafafa !important;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
    gap: 20px;
    background: #bff6f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #4d525b;
    border: none;
}

.dsg-add-row {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 30px 20px;
    margin-bottom: 40px;
}

.dsg-add-row-input {
    padding: 15px 25px;
    border: none;
}
.group-products-section {
    padding-bottom: 30px;
}
.group-products-section-inner {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
