import.app.crystallize.com {
    tls /data/certs/cert.pem /data/certs/key.pem
    push
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets {env.APP_ORIGIN_HOST}:{env.APP_ORIGIN_WEBSOCKET_PORT}
    reverse_proxy {env.APP_ORIGIN_HOST}:{env.APP_ORIGIN_PORT}
}
